.div1-sobre{
  background-image: url('../img/sobre-img-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 88px;
  margin-bottom: 50px;
  height: 110vh;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  @media(min-width: 768px) and (max-width: 991px){
     height: auto;
   }
  @media(max-width: 414px){
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    height: auto;
  }
  h1{
    text-align: left;
    font-size: 56px;
    color: white;
    line-height: 60px;
  }
  p{
    font-size: 21px;
    color: white;
    line-height: 26px;
  }
  button{
    height: 50px;
    font-size: 21px;
    margin-bottom: 0;
    width: 100%;
    border-radius: 20px;
    @media(max-width: 992px){
      margin-bottom: 15px;
    }
    @media(min-width: 768px) and (max-width: 1200px){
      font-size: 18px;
      line-height: 18px;
      height: 50px;
    }
    @media(min-width: 1201px) and (max-width: 1310px){
      font-size: 20px;
      line-height: 18px;
      height: 50px;
    }
  }
  .modal-lg{
    width: 100% !important;
    margin: auto !important;
    .modal-content{
      margin-top: -1px;
      border-radius: 0;
      margin-right: -1px;
      h1{
        color: $primary-color;
        text-align: center;
        width: 19%;
        margin-left: auto;
        line-height: 45px;
        margin-right: auto;
        font-size: 38px;
        margin-top: 70px;
        @media(max-width: 992px){
          width: 50%;
        }
      }
      .titulo{
        width: 12%;
        margin-bottom: 50px;
      }
      button{
        background-color: $second-color;
        border: none;
        float: right;
        border-radius: 50px;
        width: 80px;
        height: 80px;
        margin-top: 40px;
        margin-right: 40px;
        -webkit-transition: -webkit-transform .4s ease;
        transition: transform .4s ease;
        img{
          max-width: 55px;
        }
        &:hover{
          -ms-transform: rotate(180deg); /* IE 9 */
          -webkit-transform: rotate(180deg); /* Safari 3-8 */
          transform: rotate(180deg);
        }
      }
    }
    .conteudo-modal{
      padding: 60px 250px 50px 250px;
      @media(max-width: 992px){
        padding: 10px 20px 0px;
      }
      h3{
        font-weight: unset;
        margin-bottom: 30px;
      }
      p{
        color: #555;
        display: grid;
        padding-left: 15px;
        font-size: 17px;
        line-height: 22px;
      }
      li{
        list-style: none;
        display: inline-flex;
      }
      li::before {
        content: "• ";
        color: $second-color;
      }
      ul{
        padding-left: 15px;
        font-size: 17px;
        li{
          display: flex;
        }
        li::before {
          padding-right: 15px;
        }
      }
    }
  }
  .banner-modal1, .banner-modal2, .banner-modal3{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .banner-modal1{
    background-image: url('../img/img-seguradoras-grande-porte.png');
  }
  .banner-modal2{
    background-image: url('../img/img-seguradoras-internacional.png');
  }
  .banner-modal3{
    background-image: url('../img/img-seguradoras-nicho.png');
  }
}


.div-mapa{
  .col-sm-4{
    .row{
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 20px;
      &:nth-child(1){
        border: none;
        margin-bottom: 0;
      }
    }
    @media(max-width: 414px){
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .col-sm-5{
    margin-top: 150px;
    @media(max-width: 414px){
      margin-top: 0;
    }
  }
  h1{
    text-align: left;
  }
  .titulo{
    width: 99%;
    margin-top: 15px;
  }
  .imagem{
    float: left;
    min-width: 40px;
  }
  span{
    font-size: 20px;
    font-weight: 700;
    color: $second-color;
  }
  p{
    color: $primary-color;
    display: inline-block;
    margin-left: 5px;
    font-size: 18px;
    line-height: 24px;
    @media(max-width: 414px){
      display: block;
    }
  }
  .span160{
    font-size: 50px;
    line-height: 60px;
    font-weight: normal;
    color: $primary-color;
  }
  .mapa-brasil{
    background-image: url('../img/Mapa.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 500px;
    margin-top: 80px;
    margin-bottom: 100px;
    @media(max-width: 414px){
      background: none;
      height: auto;
      margin-top: 50px;
      margin-bottom: 10px;
    }
  }
  .bullet{
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $primary-color;
    cursor: pointer;
    &:nth-child(3){
      top: 82%;
      margin-left: 3px;
      left: 53%;
    }
    &:nth-child(4){
      top: 80%;
      margin-left: 0px;
      left: 57%;
    }
    &:nth-child(5){
      top: 82%;
      margin-left: 0px;
      left: 58%;
    }
    &:nth-child(6){
      top: 42%;
      margin-left: -2px;
      left: 52%;
    }
    &:nth-child(7){
      top: 49%;
      left: 50%;
      margin-left: -1px;
    }
    &:nth-child(8){
      top: 54%;
      margin-left: 0;
      left: 51%;
    }
    &:nth-child(9){
      top: 79%;
      margin-left: 0;
      left: 60%;
    }
    &:nth-child(10){
      top: 39%;
      margin-left: 0;
      left: 49%;
    }
    &:nth-child(11){
      top: 32%;
      margin-left: 0;
      left: 45%;
    }
    &:nth-child(12){
      top: 33%;
      margin-left: 3px;
      left: 44%;
    }
    &:nth-child(13){
      top: 33%;
      margin-left: 3px;
      left: 43%;
      margin-top: -2px;
    }
    &:nth-child(14){
      top: 28%;
      margin-left: 0;
      left: 37%;
    }
    &:nth-child(15){
      top: 15%;
      margin-left: -5px;
      left: 49%;
    }
    @media(max-width: 992px){
      display: none;
    }
  }
  .pulse {
  // display: block;
  position: absolute;
  top: 64%;
  left: 69%;
  width: 7px;
  height: 7px;
  margin-top: 2px;
  border-radius: 50%;
  background: #F3A83A;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(243,168,58,.4);
  animation: pulse 2s infinite;
    &:nth-child(2){
      top: 65%;
      left: 67%;
      margin-left: -2px;
    }
    @media(max-width: 992px){
      display: none;
    }
  }
  .tooltip-mapa{
    height: 0px;
    width: 0px;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
  }
  .pulse:hover {
    animation: none;
    .tooltip-mapa{
      display: block;
      height: 50px;
      width: 50px;
      background: black;
      margin-top: -60px;
      margin-left: -23px;
      border-radius: 10px;
    }
  }

  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(243, 168, 58, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(243, 168, 58, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(243, 168, 58, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(243, 168, 58, 0.4);
      box-shadow: 0 0 0 0 rgba(243, 168, 58, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 15px rgba(243, 168, 58, 0);
        box-shadow: 0 0 0 15px rgba(243, 168, 58, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(243, 168, 58, 0);
        box-shadow: 0 0 0 0 rgba(243, 168, 58, 0);
    }
  }
  .grafico{
    display: inline-flex;
    width: 115px;
    position: relative;
    p{
      font-size: 10px;
      line-height: 11px;
      color: $second-color;
      margin-top: 10px;
      font-style: italic;
    }
    img{
      min-width: 55px;
      height: 55px;
    }
    .span1{
      position: absolute;
      top: 19%;
      margin-left: 3px;
      left: 10%;
      font-size: 15px;
      color: $primary-color;
      font-weight: unset;
      padding-top: 5px;
    }
    .span2{
      position: absolute;
      top: 10%;
      margin-left: 3px;
      left: 10%;
      font-size: 15px;
      color: $primary-color;
      font-weight: unset;
      padding-top: 5px;
    }
    @media(max-width: 414px){
      margin-left: 40px;
      margin-bottom: 20px;
    }
  }
  .continuar{
    font-size: 11px;
    line-height: 14px;
    margin-top: 15px;
    a{
      color: $second-color;
      text-decoration: underline;
    }
  }
}

.div2-sobre{
  .container{
    margin-bottom: 10em;
  }
  .col-sm-6{
      margin-right: 90px;
      @media(max-width: 414px){
        margin-right: 0;
      }
  }
  .col-sm-4{
    height: auto;
    padding: 35px;
    border-radius: 5px;
    background-color: $primary-color;
    @media(min-width: 768px) and (max-width: 992px){
      padding: 25px;
    }
    p{
      color: white;
    }
  }
  h4{
    font-weight: 700;
    color: $second-color;
    font-size: 20px;
    margin-top: 5px;
  }
  p{
    font-size: 18px;
    line-height: 25px;
  }
  .atividades{
    .col-sm-3{
      margin-right: -15px;
      float: left;
      @media(max-width: 414px){
        margin-right: 0;
      }
      @media(min-width: 768px) and (max-width: 992px){
        margin-right: -5px;
      }
    }
    img{
      width: 100%;
      max-width: 40px;
      max-height: 27px;
    }
    .col-sm-9{
      padding: 0;
      display: grid;
    }
    .row{
      margin-bottom: 10px;
      &:first-child{
        margin-bottom: 10px;
        margin-top: 25px;
      }
    }
  }
  .atividade-row{
    margin-bottom: 50px;
  }
}

.div3-sobre{
  .col-sm-2{
    .paragrafo-div{
      font-size: 19px;
      padding: 5px;
      @media(max-width: 414px){
        margin-left: 50px;
        margin-right: 50px;
        padding: 0;
      }
    }
  }
  .diferenciais{
    img{
      margin-left: auto;
      max-height: 60px;
      margin-right: auto;
      display: block;
      margin-bottom: 30px;
        transition: all .5s cubic-bezier(.86,-.365,.07,1.345);
        transition-timing-function: cubic-bezier(.86,-.365,.07,1.345);
      }
    img:hover{
        transform: scale(1.07);
      }
  }
  .row{
    &:nth-child(2){
      margin-top: 35px;
    }
    &:nth-child(3){
      margin-top: 50px;
    }
  }
  .col-sm-12{
    img{
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 65px;
    }
  }
}

.div4-sobre{
  height: 100vh;
  background-image: url('../img/sobre-img-2.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  @media(max-width: 1024px){
    height: auto;
    padding-bottom: 1px;
  }
  .col-sm-8{
    margin-bottom: 100px;
    margin-top: 100px;
  }
  h1{
    color: $second-color;
  }
  img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 90px;
    max-height: 70px;
    margin-bottom: 30px;
    transition: all .5s cubic-bezier(.86,-.365,.07,1.345);
    transition-timing-function: cubic-bezier(.86,-.365,.07,1.345);
  }
  img:hover{
    transform: scale(1.07);
  }
  .paragrafo-div{
    font-size: 20px;
    color: white;
    padding-top: 20px;
    padding: 0;
  }
}

.div5-sobre{
  .container{
    margin-bottom: 10em;
  }
  button{
    font-size: 20px;
  }
  h2{
    text-align: center;
  }
  .n-premiacao{
  @media(max-width: 414px){
    width: 50%;
    text-align: center;
    float: left;
  }
    p{
      color: $primary-color;
      font-size: 120px;
      text-align: center;
    }
  }
  .premiacao{
    color: $second-color;
    padding-left: 0;
    margin-left: 0px;
    font-size: 22px;
    margin-top: 88px;
    line-height: 22px;
    font-weight: 700;
    @media(max-width: 414px){
      width: 50%;
      margin: 90px 0 0;
      float: right;
    }
  }
  .paragrafo{
    font-size: 19px;
    text-align: center;
    color: #F3A83A;
    line-height: 26px;
    margin-bottom: 35px;
    font-weight: 700;
  }
  .titulo1{
    font-size: 20px;
    font-weight: 700;
    color: $second-color;
    margin-bottom: 0px;
  }
  .hr-titulo1{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  img{
    width: 100%;
    max-width: 60px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  .paragrafo-div{
    padding: 0;
    padding-top: 15px;
    @media(min-width: 768px) and (max-width: 992px){
      font-size: 12px;
    }
  }
  .col-left{
    padding-right: 65px;
    @media(max-width: 414px){
      padding-right: 15px;
    }
    .hr-titulo1{
      &:nth-child(2){
        margin-bottom: 0px;
      }
      &:nth-child(3){
        margin-bottom: 45px;
      }
    }
  }
  .col-right{
    padding-left: 45px;
    padding-right: 45px;
    @media(max-width: 414px){
      padding-left: 15px;
      padding-right: 15px;
    }
    .titulo1{
      font-size: 20px;
      font-weight: 700;
      color: $second-color;
      margin-bottom: 0px;
      margin-top: 9px;
    }
    img{
      width: 100%;
      max-height: 50px;
    }
    p{
      font-size: 18px;
      color: $primary-color;
      display: inline-block;
      line-height: 25px;
    }
    .row{
      margin-bottom: 20px;
      &:nth-child(1){
        margin-bottom: 0px;
      }
    }
  }
  .carousel {
      width: 100%;
      height: 110vh;
      @media(max-width: 992px){
        height: 50vh;
      }
  }
  .carousel-inner {
    height: 110vh;
    @media(max-width: 992px){
        height: 50vh;
      }
    .item{
      height: 110vh;
      position: relative;
      img{
        height: auto;
        @media(max-width: 992px){
          height: 50vh;
        }
      }
      .titulo-banner{
        position: absolute;
        top: 5%;
        left: 50%;
        margin-left: -175px;
        h1{
        font-size: 40px;
        }
      }
      @media(max-width: 992px){
        height: 50vh;
      }
    }
  }
  /* Indicators list style */
  .article-slide .carousel-indicators {
      bottom: 10px;
      left: 50%;
      margin-left: -375px;
      width: auto;
      z-index: 1;
      @media(max-width: 414px){
        left: 15px;
        margin-left: 0;
      }
      @media(min-width: 768px) and (max-width: 992px){
        left: 0;
        margin-left: 15px;
      }
  }
  /* Indicators list style */
  .article-slide .carousel-indicators li {
      border: 2px solid white;
      background-color: rgba(55, 78, 90, 0.4);
      border-radius: 20px;
      float: left;
      height: 40px;
      margin-bottom: 5px;
      margin-left: 0;
      margin-right: 5px!important;
      margin-top: 0;
      width: auto;
      text-indent: initial;
      p{
        color: white;
        font-weight: 700;
        font-size: 20px;
        padding: 0px 25px 0 25px; 
        @media(max-width: 414px){
          font-size: 16px;
          padding: 2px 11px;
        }
      }
  }
  /* Indicators active image style */
  .article-slide .carousel-indicators .active {
      background-color: #F3A83A;
      border-radius: 30px;
      height: 40px;
  }
}
