.grano-posts{
  margin-top: 110px;
  @media (min-width: $screen-md-min) {
  margin-top: 40px;
  }

  .post{
    margin-bottom: 30px;
    height: 470px;
    overflow: hidden;
    transform: scale(1);
    @include transition-property(transform);
    @include transition-duration(0.5s);
    @media (min-width: $screen-md-min) {
      height: 430px;
    }
    .post-link{
      position: absolute;
      top: 10;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 10;
    }
    .post-border{
      border: 1px solid $brand-success;
      border-bottom: 44px solid $brand-success;
      height: 100%;
      position: relative;
      @include transition-property(border);
      @include transition-duration(0.5s);
      @media (min-width: $screen-md-min) {
        border: 1px solid $brand-success;
      }
      &:before{
        content: "Leia Mais";
        position: absolute;
        width: 100%;
        text-align: center;
        left: 0;
        bottom: 11px;
        z-index: 2;
        text-transform: uppercase;
        font-size: 18px;
        bottom: -37px;
        @include opacity(1);
        @media (min-width: $screen-md-min) {
          bottom: -28px;
          @include opacity(0);
        }

        color: $body-bg;

        @include transition-property(opacity, bottom);
        @include transition-duration(0.5s);
      }
    }
    .img-thumb{
      width: 100%;
      height: 180px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparentize($text-color, 0.9);
        @include transition-property(background-color);
        @include transition-duration(0.5s);
      }
    }
    &:hover {
      transform: scale(1.02);
      .post-border{
        border-bottom: 44px solid $brand-success;
        &:before{
          bottom: -37px;
          @include opacity(1);
        }
        .img-thumb{
          &:before{
            background-color: transparentize($text-color, 1);
          }
        }
      }
    }

  }
  .post-inner{
    padding: 2.5em;
    h4{
      margin-bottom: 7px;
      margin-top: 0;
    }
    p{
      line-height: 20px;
    }
    .categoria{
      text-transform: uppercase;
      font-family: $font-family-serif;
      font-size: 10px;
      height: 20px;
      margin-top: 10px;
    }
    &.thumb{
      padding-top: 8px;
    }
  }
}
