@import "_variables";  

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  background-image:url(../img/Grano-banner-01.jpg);
}

projetos-categorias p {
  margin-top:0;
  margin-bottom:1rem;
  color:#808080;
}      
  
projetos-categorias p {    
  margin-top:0; 
  margin-bottom:1rem;
  color:#808080; 
}           
    
p { 
  margin-top:0;   
  margin-bottom:1rem;    
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom:.1rem;
}

.row.borda-bottom {
  border-bottom:1px solid #d9d9d9;
  margin:1px;
  padding-bottom:10px;
  padding-top:11px;
}

.img-fluid.margem-b-5 {
  margin-bottom:5px;
}

button, input, optgroup, select, textarea {
  margin:0;
  font-family:inherit;
  font-size:inherit;
  line-height:inherit;
  border:0px;
}

.area-projeto-interna {
  margin-top: 100px;
}

a {
  color:#68A852;
  text-decoration:none;
}

.row.projetos-categorias {
  padding:20px;
}

.area-projeto-interna p {
  color:#808080;
}

.btn .btn-primary {
  background-color:rgb(104,168,82);
}

button, input {
  width:100%;
  background:rgb(239,239,239);
  padding:10px;
  border-radius:2px;
}

textarea {
  width:100%;
  background:rgb(239,239,239);
  padding:10px;
  border-radius:2px;
}

.container.form-contato {
  margin-top:30px;
  margin-bottom:30px;
}

.text-center.margem-b-40 {
  margin-bottom:40px;
}

.mapa-google {
  width:100%;
  height:200px;
  border:1px solid #dedede;
  margin-bottom:20px;
  border-radius:3px;
}

.row.margem-t-b-40 {
  margin-top:40px;
  margin-bottom:40px;
}

.margem-t-40 {
  margin-top:40px;
}

.categoria-blog-header {
  float:left;
  margin-right:10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Muli', sans-serif;
  color:#68A852;
}

.row.padding-10 {
  padding:15px;
}

p {
  font-family:'Muli';
  color:#808080;
}

.margem-t-20 {
  margin-top:20px;
}

.margem-t-b-20 {
  margin-top:20px;
  margin-bottom:20px;
}

.share-icons {
  margin-left:10px;
} 

.typewrite .wrap{
  border-right: 0.08em solid #fff;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-right: transparent }
  50% { border-right: 0.08em solid #fff; }
}

.jumbotron .h1, .jumbotron h1{
  font-size: 38px !important;
  color: $primary-color !important;
}

.jumbotron p{
  font-size: 18px;
}

.wpcf7-textarea{
  height: 100px !important;   
}

.owl-carousel{
  .owl-item{
    padding: 0 15px;
    @media (max-width: 575.98px){
      padding: 0;
    }    
    img{
      margin: 0 auto;
    }
  }
}   

newsletter-grano-46794a131874cdc12019 input{
  background-color: #eff1f4 !important;
}

#conversion-newsletter-grano-46794a131874cdc12019 form input, #conversion-newsletter-grano-46794a131874cdc12019 form select, #conversion-newsletter-grano-46794a131874cdc12019 form .select2-container, #conversion-newsletter-grano-46794a131874cdc12019 form textarea{
  background-color: #eff1f4 !important;
  width: 250px !important;
}

#conversion-modal-newsletter-grano-46794a131874cdc12019 .modal-content section form input, #conversion-modal-newsletter-grano-46794a131874cdc12019 .modal-content section form select, #conversion-modal-newsletter-grano-46794a131874cdc12019 .modal-content section form textarea, #conversion-modal-newsletter-grano-46794a131874cdc12019 .modal-content section form .select2-choice, #conversion-newsletter-grano-46794a131874cdc12019 section input, #conversion-newsletter-grano-46794a131874cdc12019 section select, #conversion-newsletter-grano-46794a131874cdc12019 section textarea, #conversion-newsletter-grano-46794a131874cdc12019 section .select2-choice{
  background-color: #eff1f4 !important;
  border: none !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  outline: 0 !important;
  color: inherit !important;
  text-indent: 9px !important;
  height: 45px !important;
  margin-right: 10px !important;
  width: 250px !important;
}

#conversion-newsletter-grano-46794a131874cdc12019 section div.field, #conversion-modal-newsletter-grano-46794a131874cdc12019 .modal-content section form div.field{
    display: inline !important;
}

#conversion-modal-newsletter-grano-46794a131874cdc12019 .modal-content section div.actions, #conversion-newsletter-grano-46794a131874cdc12019 section div.actions{
    display: inline !important;
}

#form-container-newsletter-grano-46794a131874cdc12019 #conversion-newsletter-grano-46794a131874cdc12019 #conversion-form-newsletter-grano-46794a131874cdc12019 div.actions input.call_button{
  width: 250px !important;
  display: inline !important;
  background-color: #E0B43B !important;
  border: none !important;
  /* background: 0 0 !important; */ 
  box-shadow: none !important;
  text-shadow: none !important;
  opacity: .9;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  font-size: 13px !important;
  letter-spacing: .4px !important;
  line-height: 1 !important;
}    

.foto-equipe {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-position: initial;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: block;
}