test {
}

.navbar.navbar-light.navbar-expand-md {
  background-color:#fafafa;
  border-bottom:1px solid #ececec;
  font-size:0.8em;
}

#banner {
  margin-top:0;
  color:#fafafa;
  text-align:left;
}

@media (max-width: 768px) {
  #banner {
    margin-top:40px; 
    color:#fafafa;
    text-align:center;
  }
}

#banner h1 {
  font-weight: 600;
  font-size: 4em;
  margin-top: 0;
  height: auto;
  @media (max-width: 991.98px) {
    font-size: 3em;
  }
}

#banner h1, #banner p {
  color:#fff;
}

#banner p{
  font-size: 16px; 
  margin-bottom: 0; 
}

.container-fluid.banner-granostudio-bg {
  background-image:url(../img/Grano-banner-01.jpg);
  height:100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 767.98px) {
    height: auto;
    padding-bottom: 35px;
  }
  .seta-banner{
    position: absolute;
    right: 2%;
    bottom: 5%;
    width: 30px;
    cursor: pointer;
    -webkit-animation: 2s efeito-loop infinite;
    animation: 2s efeito-loop infinite;
  }
  .img-responsive{
    @media (max-width: 575.98px) {
      width: 225px;
      margin: 35px auto;
      height: auto;
    }
    @media (min-width: 576px) and (max-width: 767.98px){
      width: 325px;
      margin: 35px auto;
      height: auto;
    }
  }
}

@-webkit-keyframes efeito-loop{
  0%   { bottom: 5%; }
  50%  { bottom: 7%; }
  100% { bottom: 5%; } 
}
@Keyframes efeito-loop{
  0%   { bottom: 5%; }
  50%  { bottom: 7%; }
  100% { bottom: 5%; }   
}

.margem-topo {
  margin-top:60%;
}

.row.padding-banner {
  padding-top:18%;
  @media (min-width: 576px) and (max-width: 767.98px) {
    padding-top:10%;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    padding-top:26%;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    padding-top:22%;
  }
}

.btn-primary {
  color:#fff;
  background-color:#68A852;
  border-color:#68A852;
}

.btn-primary:hover {
  color:#fff;
  background-color:#E0B43B;
  border-color:#E0B43B;
}

.btn-portfolio{
  &:focus{
    color: #fff;
    background-color: $primary-color;
  }
}

