.single-blog{
    margin-top: 100px;
}

.post-destaque {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.margem-t-40 {
  @media (max-width: 767.98px){
    margin-top: 0;
  }
}

.jumbotron {
    height:auto;
    font-family:Muli, sans-serif;
    padding:90px 60px;
    margin-top: 60px;
    background-color: transparent !important;
    z-index: 2; 
    position: relative;
    p{
      color: lightgray;
    }
    @media (max-width: 767.98px) {
      padding: 30px 45px !important;
      margin-top: 0px;
    }
}
.mask-destaque {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
}

.categorias{
  float: left;
  margin-top: 0px;
  margin-left: 0px;
  li{
      list-style: none;
      display: inline;
      margin-right: 20px;
      a{
        color: #555;
        &:hover{
          color: $primary-color;
          transition: .4s;
          -wiki-transition: .4s;
        }
      }
  }
  @media (max-width: 470.98px){
    margin-top: 25px;
    margin-left: 0; 
  }
  @media (min-width: 552px) and (max-width: 767.98px){
    margin-top: 37px;
    padding-left: 19px;
  }
}

.form-pesquisa{
  display: inline; 
  float: right;
  margin-bottom: 25px;
  @media (max-width: 767.98px) {
    margin: 10px 0 0;
  }
  input{ 
    width: 200px;
    border: none;
    border-radius: 0px;
    box-shadow: unset;
    outline: none !important;  
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .3s; 
    &:focus{
    	border: none;
    	box-shadow: unset;
    	border-bottom: 1px solid $primary-color;
    	outline: none !important;    
    }
    @media (max-width: 767.98px){
      float: left;
      width: 70%;
    }
  }
  label{
    @media (max-width: 767.98px){
      display: inline;
      float: left;
      padding-top: 7px;
    }
  }
  @media (max-width: 767.98px){
    float: right;
    width: 100%;
  }
  .action-button{
    border-radius: 25px;
    color: white;
    padding: 5px 20px;
  }
} 
