@import "bootstrap";
   
// icons font awesome teste3
@import "iconsawesome/font-awesome";
@import "home";

// Módulos       
@import "modules/banner"; 
@import "modules/bannerconteudo";
@import "modules/contato";
@import "modules/page_blog";
@import "modules/article-list";
@import "modules/edit-1";  
@import "modules/footer-dark";
@import "modules/map-clean";
@import "modules/navigation-with-search";
@import "modules/newsletter-subscription-form";
@import "modules/projects-clean";   
@import "modules/team-boxed";
@import "modules/posts"; 
  
// scroll animation grano         
@import "scrollanimationgrano";     
 
// preloader ===================================================================
#loading-bar .bar {
  background: $brand-primary;  
}
// / preloader =================================================================
 
// Fonte site 
body{
  background-color: white;
  margin: 0;
  font-family:Muli, sans-serif;
}   

// Padrão para os títulos


// Padrão de cor do parágrafo


// Padrão de cor do link


// Padrão Botão


// whitelabel

// Padrão para links;
a{
  &:hover{
    text-decoration: unset;
    color: $primary-color;
  }
}

// nav bar =====================================================================

#toggle-menu {
    width: 28px;
    height: 30px;
    margin: 10px auto;
    position: fixed;
    top: 5%;
    right: 5%;
    cursor: pointer;
    z-index: 10;
    @media (max-width: 767.98px){
      display: none;
    }
}
 
#toggle-menu div {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: $primary-color;
  margin: 4px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}

#toggle-menu.on .one {
  transform: rotate(45deg) translate(5px, 5px);
}

#toggle-menu.on .two {
  opacity: 0;
}

#toggle-menu.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
}

.navbar-brand img{
  width: auto;
  max-width: 40px;
  margin-top: 0px;
  transition: .4s; 
  -webkit-transition: .4s;  
}

.navbar-toggle {
  display: block;
  border: 1px solid $primary-color !important;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  right: 4%;  
  position: fixed;
  float: right;
  padding: 9px 10px; 
  margin-top: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s; 
  transition: .4s;
  &:hover{
    background-color: $primary-color !important;
    border: 1px solid #fff !important;
    .icon-bar{
      background-color: #fff !important;
    }
  }
  &:focus{
    background-color: $primary-color !important;
    border: 1px solid #fff !important;
    .icon-bar{
      background-color: #fff !important;
    }
  }
  @media (max-width: 575.98px) {
    bottom: 2%;
    left: 5%;
  }
}

.navbar-toggle:focus {
  outline: 0;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  transition: all .3s linear;
}

.navbar:checked ~ .bar2{
  background-color: transparent;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $primary-color;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  color: $primary-color;
}

.navbar{    
  z-index: 10;
  height: auto;
  transition: .4s;
  margin-top: -70px;
  .container{
    margin-bottom: 0;
  }
  a.navbar-brand{
    height: auto;
  }
}

.navbar-nav>li{
  float: unset;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
  color: $primary-color;
  cursor: pointer;
}
.navbar-default .navbar-nav>li>a{
  font-size: 13px;
  text-align: center;
  line-height: 22px;
  color: rgba(0,0,0,.7);
  cursor: pointer;
  @media (min-width: 768px){
    padding: 10px;  
  }
  @media (min-width: 768px) and (max-width: 991.98px){
    font-size: 13px;  
  }    
}
.nav>li{
  @media(max-width: 767.98px){
    display: -webkit-box;
  }
  @media(min-width: 768px) and (max-width: 991.98px){
    max-width: 95px;
  }
}
.navbar-header{
  margin-left: 40px;
  @media(max-width: 991.98px){
    margin-left: 0;
  }
  @media(min-width: 930px) and (max-width: 1200px){
    margin-left: 10px;
  } 
}

.navbar-header{

}
 
.navbar-nav{ 
  @media (min-width: 767.98px){
    position: absolute;
    right: 2%;
    top: 20%; 
  }  
}

#menu-menu-superior{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
    a{
      font-size: 32px;
      &:focus{
        text-decoration: unset;
        color: #fff ;
      }
    }
  }
}

@media (min-width: 992px){
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse{
    padding-left: 0;
    padding-right: 0;
  }  
} 


// / nav bar ===================================================================
 

.menu-hamburger{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  text-align: center;
  min-height: 100vh;
  z-index: 9;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  .menu-novo {
    margin: 150px 0 0;
  }
}

.change-bar1 {
    -webkit-transform: rotate(45deg) translate(5px, 3px);
    transform: rotate(45deg) translate(5px, 3px);
}

.change-bar2 {
  opacity: 0;
}

.change-bar3 {
    -webkit-transform: rotate(-45deg) translate(5px, -4px);
    transform: rotate(-45deg) translate(5px, -4px);
}


// / Novo nav bar ==============================================================



// Back to top =================================================================
.back-to-top {
    background-color: $primary-color;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 4%;
    display:none;
    border: none;
    z-index: 1;
}

.btn-primary:hover{
  background-color: $primary-color !important;
}

// / Back to top ===============================================================

// widget
li.widget{
  @extend .well;
  list-style: none !important;
  h2{
    font-size: $font-size-h4;
    margin-bottom: 10px;
  }
  ul,li{
    list-style: none;
  }
}
.widget_search{
  label{
    span{
      display: none;
    }
  }
  form{
    @extend .input-group;
  }
  .search-submit{
    @extend .btn;
    @extend .btn-default;
    float: left;
    span{
      @extend .fa;
      @extend .fa-search;
      // @extend .glyphicon;
      // @extend .glyphicon-search;
      font-size: 0;
      &:before{
        font-size: $font-size-base+2;
      }
    }
  }
  input{
    @extend .form-control;
  }
}


// Blog ========================================================================


// / Blog ======================================================================

.owl-wrapper-outer{
  overflow: hidden;
}

#grano-carousel-conteudo .item{
  padding-top: 17em; 
  @media screen and (max-width: 767.98px) and (max-height: 450px) and (orientation:landscape) {
    padding-top: 7em;
  }
  @media screen and (max-width: 767.98px) and (orientation:portrait) {
    padding-top: 12em;
  }
}

#grano-carousel-conteudo{
  margin-bottom: 10em;
}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100%!important;
}

.progress-container {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 4px;
  background: #e5e5e5;
}

.progress-bar {
  height: 4px;
  background: $primary-color;
  width: 0%;
}

#form-newsletter-grano-46794a131874cdc12019 *{
  text-align: center !important;
}

#conversion-form-newsletter-grano-46794a131874cdc12019 .field .form-control{
  text-align: left !important;
  font-size: 14px !important;
  background-color: #eff1f4 !important;
  border: none !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  outline: 0 !important;
  color: inherit !important;
  text-indent: 9px !important;
  height: 45px !important;
  margin-right: 10px !important;
  width: 250px !important;
}

#conversion-form-newsletter-grano-46794a131874cdc12019 .field .form-control{
  @media (max-width: 575.98px) {
    width: 100% !important;
    margin-bottom: 5px !important;
  }
}

#conversion-newsletter-grano-46794a131874cdc12019 form input, #conversion-newsletter-grano-46794a131874cdc12019 form select, #conversion-newsletter-grano-46794a131874cdc12019 form .select2-container, #conversion-newsletter-grano-46794a131874cdc12019 form textarea{
  background-color: #eff1f4 !important;
  width: 250px !important;
}

#conversion-newsletter-grano-46794a131874cdc12019 form input, #conversion-newsletter-grano-46794a131874cdc12019 form select, #conversion-newsletter-grano-46794a131874cdc12019 form .select2-container, #conversion-newsletter-grano-46794a131874cdc12019 form textarea{
  @media (max-width: 575.98px) {
    width: 100% !important;
  }
}

#conversion-newsletter-grano-46794a131874cdc12019 section div.field, #conversion-modal-newsletter-grano-46794a131874cdc12019 .modal-content section form div.field{
    display: inline !important;
}

#conversion-modal-newsletter-grano-46794a131874cdc12019 .modal-content section div.actions, #conversion-newsletter-grano-46794a131874cdc12019 section div.actions{
    display: inline !important;
}

#form-container-newsletter-grano-46794a131874cdc12019 #conversion-newsletter-grano-46794a131874cdc12019 #conversion-form-newsletter-grano-46794a131874cdc12019 div.actions input.call_button{
  width: 250px !important;
  display: inline !important;
  background-color: #E0B43B !important;
  border: none !important;
  /* background: 0 0 !important; */
  box-shadow: none !important;
  text-shadow: none !important;
  opacity: .9;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  font-size: 13px !important;
  letter-spacing: .4px !important;
  line-height: 1 !important;
}

#form-container-newsletter-grano-46794a131874cdc12019 #conversion-newsletter-grano-46794a131874cdc12019 #conversion-form-newsletter-grano-46794a131874cdc12019 div.actions input.call_button{
  @media (max-width: 575.98px) {
    width: 100% !important;
  }  
}

