.navigation-clean-search {
  background:#fff;
  padding-top:.75rem;
  padding-bottom:.75rem;
  color:#333;
  border-radius:0;
  box-shadow:none;
  border:none;
  margin-bottom:0;
}

@media (min-width:768px) {
  .navigation-clean-search {
    padding-top:1rem;
    padding-bottom:1rem;
  }
}

.navigation-clean-search .navbar-brand {
  font-weight:bold;
  color:inherit;
}

.navigation-clean-search .navbar-brand:hover {
  color:#222;
}

.navigation-clean-search .navbar-collapse, .navigation-clean-search .form-inline {
  border-top-color:#ddd;
}

.navigation-clean-search .navbar-nav a.active, .navigation-clean-search .navbar-nav > .show > a {
  background:none;
  box-shadow:none;
}

.navigation-clean-search.navbar-light .navbar-nav a.active, .navigation-clean-search.navbar-light .navbar-nav a.active:focus, .navigation-clean-search.navbar-light .navbar-nav a.active:hover {
  color:#8f8f8f;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean-search.navbar .navbar-nav .nav-link {
  padding-left:18px;
  padding-right:18px;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link {
  color:#465765;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-search.navbar-light .navbar-nav .nav-link:hover {
  color:#37434d !important;
  background-color:transparent;
}

.navigation-clean-search .action-button, .navigation-clean-button .action-button:active {
  background:#56c6c6;
  border-radius:20px;
  font-size:inherit;
  color:#fff !important;
  box-shadow:none;
  border:none;
  text-shadow:none;
  padding:8px 20px;
  transition:background-color 0.25s;
}

.navigation-clean-search .action-button:hover, .navigation-clean-search .action-button:focus {
  background:#66d7d7;
}

.navigation-clean-search .form-inline label {
  color:#ccc;
}

.navigation-clean-search .form-inline .search-field {
  background:none;
  border:none;
  border-bottom:1px solid transparent;
  border-radius:0;
  color:#ccc;
  box-shadow:none;
  color:inherit;
  transition:border-bottom-color 0.3s;
}

@media (max-width:767px) {
  .navigation-clean-search .form-inline .search-field {
    display:inline-block;
    width:80%;
  }
}

.navigation-clean-search .form-inline .search-field:focus {
  border-bottom:1px solid #ccc;
}

