.post-thumbnail{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 240px;
}

.img-projetos{ 
	margin: 5px 0;
	width: 100%;
}

.lista-categoria{
  padding-left: 0;
  float: left;
  li{
    list-style: none;
    font-size:14px;
    display: inline;
    margin-right: 20px;
    font-family:Muli, sans-serif; 
    color: $primary-color;    
  }
}