.projects-clean {
  color:#313437;
  background-color:#fff;
}

.projects-clean p {
  color:#7d8285;
  min-height: 100px;
}

.projects-clean h2 {
  font-weight:bold; 
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .projects-clean h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.projects-clean .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.projects-clean .intro p {
  margin-bottom:0;
}

.projects-clean .projects {
  padding-bottom:40px;
}

.projects-clean .item {  
  text-align:center;
  padding-top:50px;
  min-height:420px;  
  margin-bottom: 30px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  &:hover{
    transform: scale(1.03);
  }
  .lista-categoria{
    display: inline-block;
    margin: 5px 0;
    li{
      font-size: 12px;
    }
  }
}

.projects-clean .item .name {
  font-weight:bold;
  margin-top:20px;
  margin-bottom:8px;
  color:inherit;
  text-align: left;
  margin-bottom: 0;
  a{
    color: inherit;
  }
}

.projects-clean .item .description {
  font-size:15px;
  margin-top:15px;
  margin-bottom:15px;
}

.projects .d-block{
  width: 100%;
} 

.saiba-mais-post{
  margin-top: 5px;
  float: left;
  display: block;
  width: 100%;
  text-align: left;
  background-color: #f3f3f3;
  padding: 5px 12px;  
}

